In [1]:
import timeit

start_time = timeit.default_timer()

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, TimestampType
import random

end_time = timeit.default_timer()
elapsed_time = end_time - start_time

print("Elapsed time : ",elapsed_time)

Elapsed time :  0.09657597200020973

In [2]:
start_time = timeit.default_timer()

spark = SparkSession.builder \
  .appName("IcebergLocalDevelopment") \
  .master("local[*]") \
  .config('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.5.2') \
  .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
  .config("spark.sql.catalog.local", "org.apache.iceberg.spark.SparkCatalog") \
  .config("spark.sql.catalog.local.type", "hadoop") \
  .config("spark.sql.catalog.local.warehouse", "spark-warehouse/iceberg") \
  .getOrCreate()

end_time = timeit.default_timer()
elapsed_time = end_time - start_time

print("Elapsed time : ",elapsed_time)

25/01/10 12:39:42 WARN Utils: Your hostname, w3e103 resolves to a loopback address: 127.0.1.1; using 192.168.0.243 instead (on interface enp2s0)
25/01/10 12:39:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/home/w3e103/Desktop/Iceberg/env/lib/python3.12/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/w3e103/.ivy2/cache
The jars for the packages stored in: /home/w3e103/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-823405ed-a85e-4507-bede-6bd4cf267671;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.5.2 in central
:: resolution report :: resolve 318ms :: artifacts dl 10ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.5.2 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   1   |   0   |   0   |   0   ||   1   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-823405ed-a85e-4507-bede-6bd4cf267671
	confs: [default]
	0 artifacts copied, 1 already retrieved (0kB/13ms)
25/01/10 12:39:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/10 12:39:47 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

Elapsed time :  8.46042941900123

In [3]:
start_time = timeit.default_timer()

try:
    df = spark.read.json("expedia-lodging-listings-en_us-1-all.jsonl")
    num_rows = df.count()
    print(f"Toal number of samples in this dataset: {num_rows}")
    num_columns = len(df.columns)

    print(f"The dataset contains {num_columns} columns.")
    df.show(10)
    print("DataFrame read and displayed successfully.")
except AnalysisException as e:
    print(f"An error occurred during DataFrame reading or displaying: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

end_time = timeit.default_timer()
elapsed_time = end_time - start_time

print("Elapsed time : ",elapsed_time)

Toal number of samples in this dataset: 1000000
The dataset contains 10 columns.
+--------------------+--------------------+-------------+---------------+-------------------+--------------------+--------------------+--------------+----------+----------------+
|            bookable|       chainAndBrand|      country|inventorySource|        lastUpdated|          propertyId|        propertyType|referencePrice|starRating|vrboPropertyType|
+--------------------+--------------------+-------------+---------------+-------------------+--------------------+--------------------+--------------+----------+----------------+
|{false, false, true}|                NULL|United States|           vrbo|03-04-2023 15:35:05|{33555268, 107476...|          {7, Condo}|  {USD, 455.0}|      NULL|         {false}|
|{false, false, true}|                NULL|United States|           vrbo|03-04-2023 15:35:05|{33555279, 107476...|          {7, Condo}|  {USD, 521.0}|      NULL|         {false}|
|{false, false, true}|                NULL|United States|           vrbo|03-04-2023 15:35:05|{33555316, 107477...|          {9, Cabin}|  {USD, 123.0}|      NULL|         {false}|
|{false, false, true}|                NULL|United States|           vrbo|03-04-2023 15:35:05|{33555361, 107477...|{17, Private vaca...|  {USD, 284.0}|      NULL|         {false}|
| {true, true, false}|{6888, Red Roof P...|United States|        expedia|03-04-2023 15:35:05|     {397, 150783, }|          {1, Hotel}|  {USD, 64.99}|       2.5|         {false}|
|{false, false, true}|                NULL|United States|           vrbo|03-04-2023 15:35:05|{25165833, 806306...|       {11, Cottage}|  {USD, 180.0}|      NULL|         {false}|
|  {true, true, true}|                NULL|        Spain|           vrbo|03-04-2023 15:35:05|{54526576, 174585...|{17, Private vaca...| {USD, 167.48}|      NULL|          {true}|
|{false, false, true}|                NULL|United States|           vrbo|03-04-2023 15:35:05|{37749593, 120898...|{17, Private vaca...|  {USD, 150.0}|      NULL|         {false}|
|  {true, true, true}|                NULL|      Vietnam|           vrbo|02-26-2023 10:23:25|{37749621, 120898...|{17, Private vaca...|   {USD, 12.0}|      NULL|          {true}|
|{false, false, true}|                NULL|    Australia|           vrbo|03-04-2023 15:35:05|{33555243, 107476...|     {16, Apartment}| {USD, 357.48}|      NULL|         {false}|
+--------------------+--------------------+-------------+---------------+-------------------+--------------------+--------------------+--------------+----------+----------------+
only showing top 10 rows

DataFrame read and displayed successfully.
Elapsed time :  20.520637608999095

In [4]:
# import timeit
# from pyspark.sql.types import StructType, StructField, StringType, TimestampType, DoubleType, IntegerType

# start_time = timeit.default_timer()

# try:
#     target_schema = StructType([
#         StructField("listing_source_site", StringType(), False),
#         StructField("property_modified_date", TimestampType(), False),
#         StructField("star_rating", StringType(), True),
#         StructField("currency", StringType(), False),
#         StructField("usd_price", DoubleType(), True),
#         StructField("chain_and_brand", StructType([
#             StructField("brand_id", IntegerType(), True),
#             StructField("chain_id", IntegerType(), True),
#             StructField("brand_name", StringType(), True),
#             StructField("chain_name", StringType(), True)
#         ]), True),
#         StructField("country_code", StringType(), False)
#     ])
#     print("Schema defined successfully.")
# except Exception as e:
#     print(f"An error occurred while defining the schema: {e}")

# end_time = timeit.default_timer()
# elapsed_time = end_time - start_time

# print("Elapsed time:", elapsed_time)

In [5]:
start_time = timeit.default_timer()


try:

    country_code_mapping = {

    "Bonaire Saint Eustatius and Saba": "BSES",
    "Paraguay": "PY",
    "Anguilla": "AI",
    "Macao": "MO",
    "U.S. Virgin Islands": "USV",
    "Senegal": "SN",
    "Sweden": "SE",
    "Guyana": "GY",
    "Philippines": "PH",
    "Jersey": "JE",
    "Eritrea": "ER",
    "Djibouti": "DJ",
    "Norfolk Island": "NF",
    "Tonga": "TO",
    "Singapore": "SG",
    "Malaysia": "MY",
    "Fiji": "FJ",
    "Turkey": "TR",
    "Malawi": "MW",
    "Germany": "DE",
    "Northern Mariana Islands": "MP",
    "Comoros": "KM",
    "Cambodia": "KH",
    "Maldives": "MV",
    "Ivory Coast": "IC",
    "Jordan": "JO",
    "Rwanda": "RW",
    "Palau": "PW",
    "France": "FR",
    "Turks and Caicos Islands": "TC",
    "Greece": "GR",
    "Sri Lanka": "LK",
    "Montserrat": "MS",
    "Taiwan": "TW",
    "Dominica": "DM",
    "British Virgin Islands": "VG",
    "Algeria": "DZ",
    "Togo": "TG",
    "Equatorial Guinea": "GQ",
    "Slovakia": "SK",
    "Reunion": "RE",
    "Argentina": "AR",
    "Belgium": "BE",
    "Angola": "AO",
    "San Marino": "SM",
    "Ecuador": "EC",
    "Qatar": "QA",
    "Lesotho": "LS",
    "Albania": "AL",
    "Madagascar": "MG",
    "Finland": "FI",
    "New Caledonia": "NC",
    "Ghana": "GH",
    "Myanmar": "MM",
    "Nicaragua": "NI",
    "Guernsey": "GG",
    "Peru": "PE",
    "Benin": "BJ",
    "Sierra Leone": "SL",
    "United States": "US",
    "India": "IN",
    "Bahamas": "BS",
    "China": "CN",
    "Curacao": "CUR",
    "Belarus": "BY",
    "Malta": "MT",
    "Kuwait": "KW",
    "Sao Tome and Principe": "ST",
    "Palestinian Territory": "PT",
    "Puerto Rico": "PR",
    "Chile": "CL",
    "Tajikistan": "TJ",
    "Martinique": "MQ",
    "Cayman Islands": "KY",
    "Isle of Man": "IM",
    "Croatia": "HR",
    "Burundi": "BI",
    "Nigeria": "NG",
    "Andorra": "AD",
    "Bolivia": "BO",
    "Gabon": "GA",
    "Italy": "IT",
    "Suriname": "SR",
    "Lithuania": "LT",
    "Norway": "NO",
    "Turkmenistan": "TM",
    "Spain": "ES",
    "Cuba": "CU",
    "Mauritania": "MR",
    "Guadeloupe": "GP",
    "Denmark": "DK",
    "Barbados": "BB",
    "Bangladesh": "BD",
    "Ireland": "IE",
    "Liechtenstein": "LI",
    "Swaziland": "SL",
    "Thailand": "TH",
    "Laos": "LA",
    "Christmas Island": "CX",
    "Bhutan": "BT",
    "Democratic Republic of the Congo": "DRC",
    "Morocco": "MA",
    "Monaco": "MC",
    "Panama": "PA",
    "Cape Verde": "CV",
    "Hong Kong": "HK",
    "Israel": "IL",
    "Iceland": "IS",
    "Saint Barthelemy": "SB",
    "Saint Kitts and Nevis": "KN",
    "Oman": "OM",
    "French Polynesia": "PF",
    "South Korea": "KR",
    "Cyprus": "CY",
    "Gibraltar": "GI",
    "Uruguay": "UY",
    "Mexico": "MX",
    "Aruba": "AW",
    "Montenegro": "ME",
    "Georgia": "GE",
    "Zimbabwe": "ZW",
    "Estonia": "EE",
    "Indonesia": "ID",
    "Saint Vincent and the Grenadines": "VC",
    "Guatemala": "GT",
    "Guam": "GU",
    "Mongolia": "MN",
    "Republic of the Congo": "CG",
    "Azerbaijan": "AZ",
    "Sint Maarten": "SIM",
    "Grenada": "GD",
    "Armenia": "AM",
    "Tunisia": "TN",
    "Liberia": "LR",
    "Honduras": "HN",
    "Trinidad and Tobago": "TT",
    "Saudi Arabia": "SA",
    "Uganda": "UG",
    "Wallis and Futuna": "WF",
    "French Guiana": "GF",
    "Namibia": "NA",
    "Mayotte": "YT",
    "Switzerland": "CH",
    "Zambia": "ZM",
    "Ethiopia": "ET",
    "Jamaica": "JM",
    "Latvia": "LV",
    "United Arab Emirates": "AE",
    "Brunei": "BR",
    "Saint Lucia": "LC",
    "Saint Martin": "SAM",
    "Aland Islands": "AI",
    "Guinea": "GN",
    "Canada": "CA",
    "Seychelles": "SC",
    "Kyrgyzstan": "KG",
    "Uzbekistan": "UZ",
    "Macedonia": "MD",
    "Faroe Islands": "FO",
    "Samoa": "WS",
    "Czech Republic": "CZ",
    "Mozambique": "MZ",
    "Cook Islands": "CK",
    "Brazil": "BR",
    "Belize": "BZ",
    "Kenya": "KE",
    "Gambia": "GM",
    "Lebanon": "LB",
    "Slovenia": "SI",
    "Antigua and Barbuda": "AG",
    "Dominican Republic": "DO",
    "Japan": "JP",
    "Tanzania": "TZ",
    "Botswana": "BW",
    "Luxembourg": "LU",
    "New Zealand": "NZ",
    "United States Minor Outlying Islands": "UM",
    "Bosnia and Herzegovina": "BA",
    "Greenland": "GL",
    "Haiti": "HT",
    "Poland": "PL",
    "Portugal": "PT",
    "Australia": "AU",
    "Cameroon": "CM",
    "Papua New Guinea": "PG",
    "Romania": "RO",
    "Guinea-Bissau": "GW",
    "Bulgaria": "BG",
    "Austria": "AT",
    "Nepal": "NP",
    "Egypt": "EG",
    "Costa Rica": "CR",
    "El Salvador": "SV",
    "Kazakhstan": "KZ",
    "Serbia": "RS",
    "South Africa": "ZA",
    "Burkina Faso": "BF",
    "Bermuda": "BM",
    "Bahrain": "BH",
    "Micronesia": "MC",
    "Colombia": "CO",
    "Hungary": "HU",
    "Pakistan": "PK",
    "Vanuatu": "VU",
    "Mauritius": "MU",
    "United Kingdom": "GB",
    "Moldova": "MD",
    "Vietnam": "VN",
    "Netherlands": "NL",
    "Mali": "ML",
    "Chad": "TD",
    "Svalbard and Jan Mayen": "SJ",
    "Sudan": "SD",
    "Niue": "NU",
    "Kiribati": "KI",
    "Iraq": "IQ",
    "American Samoa": "AS",
    "Saint Pierre and Miquelon": "PM",
    "Niger": "NE",
    "Solomon Islands": "SB"

}



    def get_country_code(country_name):
        if country_name is None:
            return "Unknown"
        return country_code_mapping.get(country_name, "Unknown")

    country_udf = F.udf(get_country_code, StringType())

    print("UDF registered successfully.")
except Exception as e:
    print(f"An error occurred while defining or registering the UDF: {e}")



end_time = timeit.default_timer()
elapsed_time = end_time - start_time

print("Elapsed time : ",elapsed_time)

UDF registered successfully.
Elapsed time :  0.008073408000200288

In [15]:
start_time = timeit.default_timer()

try:

  transformed_df = df.select(
      F.lit("expedia").alias("listing_source_site"),
      F.when(F.col("lastUpdated").isNull(), F.lit("' '"))
        .otherwise(F.to_timestamp("lastUpdated", "dd-MM-yyyy HH:mm:ss"))
        .alias("property_modified_date"),
      F.when(F.col("starRating").isNull(), F.lit("' '"))
        .otherwise(F.col("starRating").cast(StringType()))
        .alias("star_rating"),
      F.when(F.col("referencePrice.currency").isNull(), F.lit("' '"))
        .otherwise(F.col("referencePrice.currency"))
        .alias("currency"),
      F.when(F.col("referencePrice.value").isNull(), F.lit("' '"))
        .otherwise(F.col("referencePrice.value").cast(DoubleType()))
        .alias("usd_price"),
      F.struct(
          F.when(F.col("chainAndBrand.brandId").isNull(), F.concat(F.lit('"brand_id": '), F.lit("' '")))
          .otherwise(F.concat(F.lit('"brand_id": '), F.col("chainAndBrand.brandId").cast(IntegerType()))).alias("brand_id"),
          F.when(F.col("chainAndBrand.chainId").isNull(), F.concat(F.lit('"chain_id": '), F.lit("' '")))
          .otherwise(F.concat(F.lit('"chain_id": '), F.col("chainAndBrand.chainId").cast(IntegerType()))).alias("chain_id"),
          F.when(F.col("chainAndBrand.brandName").isNull(), F.concat(F.lit('"brand_name": '), F.lit("' '")))
          .otherwise(F.concat(F.lit('"brand_name": '), F.col("chainAndBrand.brandName").cast(StringType()))).alias("brand_name"),
          F.when(F.col("chainAndBrand.chainName").isNull(), F.concat(F.lit('"chain_name": '), F.lit("' '")))
          .otherwise(F.concat(F.lit('"chain_name": '), F.col("chainAndBrand.chainName").cast(StringType()))).alias("chain_name")
      ).alias("chain_and_brand"),
      F.col("country")  
  )

  print("DataFrame transformation successful.")
except Exception as e:
  print(f"An error occuured during DataFrame transformation: {e}")

end_time = timeit.default_timer()
elapsed_time = end_time - start_time

print("Elapsed time : ",elapsed_time)

DataFrame transformation successful.
Elapsed time :  0.308171847000267

In [16]:
start_time = timeit.default_timer()

try:

    final_df = transformed_df.withColumn("country_code", country_udf(F.col("country"))).drop("country")
    final_df.show(20, truncate=False)
    print("DataFrame transformation and display successful.")

except AnalysisException as e:
    print(f"An error occurred during DataFrame transformation or display: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")


end_time = timeit.default_timer()
elapsed_time = end_time - start_time

print("Elapsed time : ",elapsed_time)

+-------------------+----------------------+-----------+--------+---------+----------------------------------------------------------------------------------------------------------------+------------+
|listing_source_site|property_modified_date|star_rating|currency|usd_price|chain_and_brand                                                                                                 |country_code|
+-------------------+----------------------+-----------+--------+---------+----------------------------------------------------------------------------------------------------------------+------------+
|expedia            |2023-04-03 15:35:05   |' '        |USD     |455.0    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |US          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |521.0    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |US          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |123.0    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |US          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |284.0    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |US          |
|expedia            |2023-04-03 15:35:05   |2.5        |USD     |64.99    |{"brand_id": 6888, "chain_id": 117, "brand_name": Red Roof Plus+, "chain_name": Red Roof Inn}                   |US          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |180.0    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |US          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |167.48   |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |ES          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |150.0    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |US          |
|expedia            |NULL                  |' '        |USD     |12.0     |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |VN          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |357.48   |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |AU          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |755.0    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |US          |
|expedia            |2023-04-03 15:35:05   |4          |USD     |139.06   |{"brand_id": 8808, "chain_id": 8712, "brand_name": Kintetsu Miyako Hotels, "chain_name": Kintetsu Miyako Hotels}|JP          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |185.0    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |US          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |292.0    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |US          |
|expedia            |2023-04-03 15:35:05   |4          |USD     |178.5    |{"brand_id": 33, "chain_id": -5, "brand_name": Doubletree, "chain_name": Hilton Worldwide}                      |US          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |175.0    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |US          |
|expedia            |2023-01-03 12:04:10   |2          |USD     |0.0      |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |IN          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |495.0    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |US          |
|expedia            |2023-04-03 15:35:05   |2.5        |USD     |62.89    |{"brand_id": 421, "chain_id": -16, "brand_name": Baymont Inns & Suites, "chain_name": Wyndham Hotels & Resorts} |US          |
|expedia            |2023-04-03 15:35:05   |' '        |USD     |719.0    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}                                        |US          |
+-------------------+----------------------+-----------+--------+---------+----------------------------------------------------------------------------------------------------------------+------------+
only showing top 20 rows

DataFrame transformation and display successful.
Elapsed time :  1.039297486000578

In [8]:
'''
try:
    final_df.writeTo("local.test_db") \
        .partitionedBy("country_code") \
        .createOrReplace()
    print("DataFrame successfully written to the Iceberg table.")
except AnalysisException as e:
    print(f"An error occurred while writing to the Iceberg table: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")
    '''

'\ntry:\n    final_df.writeTo("local.test_db")         .partitionedBy("country_code")         .createOrReplace()\n    print("DataFrame successfully written to the Iceberg table.")\nexcept AnalysisException as e:\n    print(f"An error occurred while writing to the Iceberg table: {e}")\nexcept Exception as e:\n    print(f"An unexpected error occurred: {e}")\n    '

In [9]:
'''
try:
    final_df.printSchema()
    print("Print the iceberg dataset Schema")
except Analysis as a:
    print(f"An error occured while printing iceberg table: {e}")
except Exception as e:
    print(f"An unexcepted error occured: {e}")
    '''

'\ntry:\n    final_df.printSchema()\n    print("Print the iceberg dataset Schema")\nexcept Analysis as a:\n    print(f"An error occured while printing iceberg table: {e}")\nexcept Exception as e:\n    print(f"An unexcepted error occured: {e}")\n    '

In [10]:
'''
try:
    iceberg_df = spark.read \
        .format("iceberg") \
        .load("local.test_db")

    iceberg_df.show()
    print("Successfully show table into iceberg format")
except Read as r:
    print(f"An error occured while writing to Iceberg table: {e}")
'''

'\ntry:\n    iceberg_df = spark.read         .format("iceberg")         .load("local.test_db")\n\n    iceberg_df.show()\n    print("Successfully show table into iceberg format")\nexcept Read as r:\n    print(f"An error occured while writing to Iceberg table: {e}")\n'

In [11]:
print(final_df.printSchema())

root
 |-- listing_source_site: string (nullable = false)
 |-- property_modified_date: timestamp (nullable = true)
 |-- star_rating: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- usd_price: double (nullable = true)
 |-- chain_and_brand: struct (nullable = false)
 |    |-- brand_id: string (nullable = true)
 |    |-- chain_id: string (nullable = true)
 |    |-- brand_name: string (nullable = true)
 |    |-- chain_name: string (nullable = true)
 |-- country_code: string (nullable = true)

None

In [22]:
spark.sql("""
    CREATE TABLE IF NOT EXISTS local.siamdb.full_schema_table (
        listing_source_site STRING NOT NULL,
        property_modified_date STRING,
        star_rating STRING,
        currency STRING,
        usd_price STRING,
        chain_and_brand STRUCT<
            brand_id: STRING,
            chain_id: STRING,
            brand_name: STRING,
            chain_name: STRING
        > NOT NULL,
        country_code STRING
    )
    USING iceberg
    PARTITIONED BY (country_code)
    OPTIONS ('format-version'='2')
""")

DataFrame[]

In [25]:
spark.sql("""
    CREATE TABLE IF NOT EXISTS local.siamdb.full_schema_table (
        listing_source_site STRING NOT NULL,
        property_modified_date STRING,
        star_rating STRING,
        currency STRING,
        usd_price STRING,
        chain_and_brand STRUCT<brand_id:STRING, chain_id:STRING, brand_name:STRING, chain_name:STRING> NOT NULL,
        country_code STRING
    )
    USING iceberg
    PARTITIONED BY (country_code)
    OPTIONS ('format-version'='2')
""")

DataFrame[]

In [24]:
# Write the DataFrame to the Iceberg table
selected_df.write \
    .format("iceberg") \
    .mode("append") \
    .saveAsTable("local.siamdb.full_schema_table")

AnalysisException: [INSERT_COLUMN_ARITY_MISMATCH.TOO_MANY_DATA_COLUMNS] Cannot write to `local`.`siamdb`.`full_schema_table`, the reason is too many data columns:
Table columns: `listing_source_site`, `property_modified_date`, `star_rating`, `currency`, `usd_price`, `chain_and_brand`, `country_code`.
Data columns: `ListingSourceSite`, `PropertyModifiedDate`, `StarRating`, `Currency`, `USDPrice`, `BrandID`, `ChainID`, `BrandName`, `ChainName`, `CountryCode`.

In [88]:
final_df.selectExpr("star_rating as StarRating", "usd_price as USDPrice", "country_code as CountryCode") \
    .write \
    .format("iceberg") \
    .mode("append") \
    .saveAsTable("local.siamdb.full_schema_table1")

AnalysisException: [INCOMPATIBLE_DATA_FOR_TABLE.CANNOT_FIND_DATA] Cannot write incompatible data for the table `local`.`siamdb`.`full_schema_table1`: Cannot find data for the output column `listing_source_site`.

In [33]:
spark.sql("""
CREATE TABLE IF NOT EXISTS local.siamdb.full_schema_table (
    listing_source_site STRING NOT NULL,
    property_modified_date TIMESTAMP,
    star_rating STRING,
    currency STRING,
    usd_price DOUBLE,
    chain_and_brand STRUCT<brand_id:STRING, chain_id:STRING, brand_name:STRING, chain_name:STRING> NOT NULL,
    country_code STRING
)
USING iceberg
PARTITIONED BY (country_code)
OPTIONS ('format-version'='2')
          """)

DataFrame[]

In [34]:
final_df.write \
    .format("iceberg") \
    .mode("append") \
    .saveAsTable("local.siamdb.full_schema_table")

In [38]:
df1 = spark.sql("SELECT * FROM local.siamdb.full_schema_table")

# Show the contents of the DataFrame
df1.show(truncate=False)

+-------------------+----------------------+-----------+--------+---------+----------------------------------------------------------------------------------+------------+
|listing_source_site|property_modified_date|star_rating|currency|usd_price|chain_and_brand                                                                   |country_code|
+-------------------+----------------------+-----------+--------+---------+----------------------------------------------------------------------------------+------------+
|expedia            |2023-04-03 15:35:06   |3          |USD     |55.56    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:06   |' '        |USD     |0.0      |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:07   |3          |USD     |0.0      |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:07   |' '        |USD     |61.79    |{"brand_id": 9579, "chain_id": 9481, "brand_name": RENTERS, "chain_name": RENTERS}|PL          |
|expedia            |2023-04-03 15:35:07   |3          |USD     |49.44    |{"brand_id": 300, "chain_id": -1, "brand_name": Novotel, "chain_name": Accor}     |PL          |
|expedia            |2023-04-03 15:35:07   |3          |USD     |38.43    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:07   |3.5        |USD     |0.0      |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:08   |' '        |USD     |142.04   |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:08   |5          |USD     |107.21   |{"brand_id": 272, "chain_id": -1, "brand_name": Sofitel, "chain_name": Accor}     |PL          |
|expedia            |2023-04-03 15:35:08   |4          |USD     |67.37    |{"brand_id": 300, "chain_id": -1, "brand_name": Novotel, "chain_name": Accor}     |PL          |
|expedia            |2023-04-03 15:35:07   |3          |USD     |51.93    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:09   |' '        |USD     |68.9     |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-01-03 12:04:12   |3.5        |USD     |0.0      |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:09   |' '        |USD     |76.32    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:09   |' '        |USD     |107.06   |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:09   |4          |USD     |88.54    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:09   |' '        |USD     |72.08    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:09   |' '        |USD     |107.06   |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:09   |' '        |USD     |58.3     |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
|expedia            |2023-04-03 15:35:11   |4          |USD     |70.54    |{"brand_id": ' ', "chain_id": ' ', "brand_name": ' ', "chain_name": ' '}          |PL          |
+-------------------+----------------------+-----------+--------+---------+----------------------------------------------------------------------------------+------------+
only showing top 20 rows